html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.map-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.mine-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* PIN */
.pin {
  position: absolute;
  width: 14px;
  height: 14px;
  background: rgb(212, 84, 25);
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.pin::after {
  content: "📍";
  position: absolute;
  top: -22px;
  left: -10px;
  font-size: 18px;
}

/* POPUP */
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  max-width: 90%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #263238;
  color: white;
  padding: 10px;
  border-radius: 12px 12px 0 0;
}

.popup-header button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#popup-body {
  padding: 10px;
}

#popup-body img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-radius: 8px;
}
